body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
.navigation {
    width: 100%;
    background-image: url(/css_advanced/image/Object.png);
    background-position: center;
    background-size: cover;
    height: 1093px;
    margin: 0 auto;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    height: 29.46px;
}
nav ul {
    width: 100%;
    list-style-type: none;
    text-align: right;
    padding-right: 60px;
}
nav ul li {
    display: inline-block;
    margin: 0 20px;
    letter-spacing: 1px;
}

.content {
    text-align: center;
    margin-top: 100px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}
.pictures div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    color: #fff;
    justify-content: space-between;
    margin-inline: 20px;
}
.pictures img {
    width: 100%;
    height: auto
}
.bt {
    margin-top: 20px;
}
.content h1 {
    font-size: 100px;
    margin-bottom: 0;
    color: #fff;
    
}
.content div h1 {
    margin-top: 150px;
}
.span {
    
    color: #fff;
}
.span-txt {
    
    margin-left: 20px;
}
#btn {
    background-color: blueviolet;
    font-size: 1.5em;
    border-radius: 20px;
    color: #fff;
    border: none;
    width 20px;
    height: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.content h2 {
    font-size: 3em;
    margin-top: 150px;
}
.bruce {
   border-radius: 50%;
}
.section2 {
    background-color: rgb(188, 20, 48);
    width: 100%;
    height: 500px;
}